    * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: inter;
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #eff2f1;
}

.bg-body-tertiary {
    background-color: #3b5d50 !important;
}

/* navbar */

.navbar .navbar-collapse ul {
    padding-left: 450px;
}

.navbar .navbar-collapse .nav-item .active {
    color: white;
}

.navbar .navbar-collapse .nav-item .active::after {
    width: 100%;
}

.navbar .navbar-collapse ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    transition: 0.3s;
    position: relative;
}

.navbar .navbar-collapse ul li a::after {
    content: "";
    width: 0;
    height: 5px;
    background: #f9bf29;
    transition: width 0.3s;
    position: absolute;
    left: 5px;
    right: auto;
    bottom: -5px;
}

.navbar .navbar-collapse ul li a:hover {
    color: white
}

.navbar .navbar-collapse ul li .cart {
    transform: translate(-50%, 0);
}

.navbar .navbar-collapse ul li .cart:hover::after {
    width: 0%;
}

.navbar .navbar-collapse ul li .user:hover::after {
    width: 0%;
}

.navbar .navbar-collapse ul li a:hover::after {
    width: 100%;
}

.nav-item {
    padding: 0px 20px;
}

.navbar-nav .nav-item {
    white-space: nowrap;
}

.navbar .container .navbar-brand {
    font-weight: 600;
    font-size: 32px;
    color: white;
}

.navbar .container .navbar-brand .nav-dot {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.3);
}

/* home */

.home {
    background-color: #3b5d50;
    height: 76vh;
}

.home-h1 {
    margin-bottom: 30px;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.2em;
}

.home-p {
    color: rgba(255, 255, 255, 0.5)
}

.couch {
    position: relative;
    z-index: 2;
}

.layer {
    position: absolute;
    top: 30px;
    right: -70px;
    z-index: -1;
}

.home-btns {
    font-weight: bold;
    padding: 12px 30px;
    color: #373737;
    background: #f9bf29;
    border-color: transparent;
    transition: 0.3s;
}

.home-btns:hover {
    background-color: #ffb700;
}

.explore-btn {
    background: transparent;
    color: white;
    border-width: 2px;
    border-color: rgb(255, 255, 255, 0.3);
}

.explore-btn:hover {
    background: transparent;
    border-color: white;
}

.product-section {
    padding: 7rem 0;
}

/* product */

.store-btn {
    background-color: #2f2f2f;
    color: white;
    padding: 12px 30px;
    font-weight: 500;
}

.store-btn:hover {
    background-color: rgb(40, 39, 39);
    color: white;
}

a {
    text-decoration: none;
}

.product-section {
    padding: 7rem 0;
}

.product-section h2 {
    color: #2f2f2f;
}

.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}

.product-section .product-item .product-thumbnail {
    margin-bottom: 30px;
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.product-section .product-item h3 {
    font-weight: 600;
    font-size: 16px;
}

.product-section .product-item strong {
    font-weight: 800 !important;
    font-size: 18px !important;
}

.product-section .product-item h3,
.product-section .product-item strong {
    color: #2f2f2f;
    text-decoration: none;
}

.product-section .product-item .icon-cross {
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
}

.product-section .product-item .icon-cross img {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.product-section .product-item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    transition: .3s all ease;
}

.product-section .product-item:hover .product-thumbnail {
    top: -25px;
}

.product-section .product-item:hover .icon-cross {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.product-section .product-item:hover:before {
    height: 70%;
}

/* why choose */

.why-choose-section {
    padding: 7rem 0;
}

.why-choose-section h2 {
    color: #2f2f2f;
}

.why-choose-section .img-wrap {
    position: relative;
}

.why-choose-section .img-wrap:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-image: url("../img/dots-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-40%, -40%);
    z-index: -1;
}

.why-choose-section .img-wrap img {
    border-radius: 20px;
}


.feature {
    margin-bottom: 30px;
}

.feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.feature .icon:before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -8px;
    bottom: 0;
}

.feature h3 {
    font-size: 14px;
    color: #2f2f2f;
}

.feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a;
}

/* we help */

.we-help-section {
    padding: 7rem 0;
}

.we-help-section h2 {
    color: #2f2f2f;
}

.we-help-section .imgs-grid {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    position: relative;
}

.we-help-section .imgs-grid:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-image: url("../img/dots-green.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-40%, -40%);
    z-index: -1;
}

.we-help-section .imgs-grid .grid {
    position: relative;
}

.we-help-section .imgs-grid .grid img {
    border-radius: 20px;
    max-width: 100%;
}

.we-help-section .imgs-grid .grid.grid-1 {
    grid-column: 1 / span 18;
    grid-row: 1 / span 27;
}

.we-help-section .imgs-grid .grid.grid-2 {
    grid-column: 19 / span 27;
    grid-row: 1 / span 5;
    padding-left: 20px;
}

.we-help-section .imgs-grid .grid.grid-3 {
    grid-column: 14 / span 16;
    grid-row: 6 / span 27;
    padding-top: 20px;
}

.custom-list {
    width: 100%;
}

.custom-list li {
    display: inline-block;
    width: calc(50% - 20px);
    margin-bottom: 12px;
    line-height: 1.5;
    position: relative;
    padding-left: 20px;
}

.custom-list li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #3b5d50;
    position: absolute;
    left: 0;
    top: 8px;
}

/* popular product */

.popular-product {
    padding: 0 0 7rem 0;
}

.popular-product .product-item-sm h3 {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
}

.popular-product .product-item-sm a {
    text-decoration: none;
    color: #2f2f2f;
    transition: .3s all ease;
}

.popular-product .product-item-sm a:hover {
    color: rgba(47, 47, 47, 0.5);
}

.popular-product .product-item-sm p {
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 14px;
}

.popular-product .product-item-sm .thumbnail {
    margin-right: 10px;
    flex: 0 0 120px;
    position: relative;
}

.popular-product .product-item-sm .thumbnail:before {
    content: "";
    position: absolute;
    border-radius: 20px;
    background: #dce5e4;
    width: 98px;
    height: 98px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* testimonial */

.testimonial-section {
    height: 60vh;
}

.carousel-indicators {
    position: absolute;
    bottom: -80px;
    left: 35%;
    transform: translateX(-50%);
}

.carousel-indicators button {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    background-color: #6a6a6a !important; 
    border: none; 
    margin: 2px; 
    transition: all 0.3s !important; 
}

.carousel-indicators button.active {
    background-color: #3b5d50 !important; 
}

.carousel-indicators button:hover {
    background-color: #3b5d50 !important;
}

.testimonial-section img.testimonial-img {
    margin-top: 50px;
    border-radius: 50%;
    width: 5%;
}

.testimonial-section p.testimonial-text {
    font-size: 1rem;
    color: #6a6a6a;
}

.testimonial-section h3 {
    color: #2f2f2f;
    margin-top: 20px;
    font-weight: bold;
}

.testimonial-section h2 {
    color: #2f2f2f;
    margin: 15px 0px;
}

.testimonial-section p.person-title {
    color: #6a6a6a;
    font-size: 0.9rem;
}

.control-prev-icon,
.control-next-icon {
    font-size: 3rem;
    color: #3b5d50;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* blog section */

.blog-section {
    padding: 7rem 20px 12rem 20px;
    max-width: 90%;
    margin: 0 auto;
}

.blog-section h2 {
    color: #2f2f2f;
}

.blog-section a.more {
    font-weight: 600;
    text-decoration: underline;
}

.blog-section a.more:hover {
    text-decoration: none;
}

.blog-section h3 {
    color: #2f2f2f;
}

.blog-section a {
    color: #2f2f2f;
}

.blog-section .post-entry a {
    text-decoration: none;
}

.blog-section .post-entry .post-thumbnail {
    display: block;
    margin-bottom: 20px;
}

.blog-section .post-entry .post-thumbnail img {
    border-radius: 20px;
    transition: .3s all ease;
}

.blog-section .post-entry .post-content-entry {
    padding-left: 15px;
    padding-right: 15px;
}

.blog-section .post-entry .post-content-entry h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 7px;
}

.blog-section .post-entry .post-content-entry .meta {
    font-size: 14px;
}

.blog-section .post-entry .post-content-entry .meta a {
    font-weight: 600;
}

.blog-section .post-entry:hover .post-thumbnail img,
.blog-section .post-entry:focus .post-thumbnail img {
    opacity: .7;
}

/* footer */

.footer-section {
    padding: 80px 0;
    background: #ffffff;
}

.footer-section .relative {
    position: relative;
}

.footer-section a {
    text-decoration: none;
    color: #2f2f2f;
    transition: .3s all ease;
}

.footer-section a:hover {
    color: rgba(47, 47, 47, 0.5);
}

.footer-section .subscription-form {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

.footer-section .subscription-form h3 {
    font-size: 18px;
    font-weight: 500;
    color: #3b5d50;
}

.footer-section .subscription-form .form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.footer-section .subscription-form .form-control:active,
.footer-section .subscription-form .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #3b5d50;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer-section .subscription-form .btn {
    border-radius: 10px !important;
}

.footer-section .sofa-img {
    position: absolute;
    top: -200px;
    z-index: 1;
    right: 0;
}

.footer-section .sofa-img img {
    max-width: 380px;
}

.footer-section .links-wrap {
    margin-top: 0px;
    padding-top: 10px;
}

.btn.btn-primary {
    background-color: #3b5d50;
    border: none;
    padding: 12px 30px;
}

.btn.btn-primary:hover {
    background-color: #4a7665;
}

.btn.btn-primary:active {
    background-color: #22352e;
}

.footer-section .links-wrap ul li {
    margin-bottom: 10px;
}

.footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50;
}

.footer-section .custom-social li {
    margin: 2px;
    display: inline-block;
}

.footer-section .custom-social li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #dce5e4;
    color: #3b5d50;
    border-radius: 50%;
}

.footer-section .custom-social li a:hover {
    background: #3b5d50;
    color: #ffffff;
}

.footer-section .border-top {
    border-color: #dce5e4;
}

.footer-section .border-top.copyright {
    font-size: 14px !important;
}